html{
    background-image: url('images/border.png');
    background-size: 100% 101%;
}
canvas {
    border: 1px solid black;
}
div{
    margin-bottom: 1em;
    display:flex;
}
div.header{
    border: 1px solid black;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
div.info{
    flex-direction: column;
    margin:auto;
    justify-content: flex-start;
}
p{

}
.logo{
    max-width: 5%;
  height: auto;
}
p.header{
    font-size: 25px;
}
p.name, p.health, p.gold{

}
p.health{
    color: red;
}
p.gold{
    color:goldenrod;
}
p.middle{
    flex-grow: 4;
}
p.title{
    font-size: 22px;
}
span{
    color:black;
    flex-shrink: 2;
}
.settings{
    padding: 0;
    border: none;
    background: none;
    position: absolute;

}
.inventory{
    padding: 0;
    border:0px;
    outline:0px;
    background: none;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;

}
.invisButton{
    padding: 0;
    border: none;
    background: none;
    position: absolute;
}
.visButton{
    padding: 0;
    position: absolute;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}